/* 

#9300FF

*/
/* ---------------------------------------- */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #808080;
}

body {
  display: flex;
  height: 100vh;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
ul {
  list-style: none;
}
input {
  outline: none;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:-webkit-autofill {
  -webkit-text-fill-color: grey;
}
a:link,
a:visited {
  color: #9300ff;
}
.leaflet-bar a:hover,
.leaflet-bar a:active {
  color: #9300ff;
}
/* ---------------------------------------- */
/* Sidebar */
.sidebar {
  width: 40rem;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.sidebar-content-container {
  /* subtract height of logo + footer + sidebar buttons */
  height: calc(100% - 16rem);
  width: 40rem;
  min-height: 10rem;
  position: relative;
  overflow-y: scroll;
}
.sidebar-content-container::-webkit-scrollbar {
  width: 0;
}
.sidebar-title {
  font-weight: 500;
  margin: 1rem 0;
  text-align: center;
}
.sidebar-title--all-jobs {
  padding: 0 1rem;
}

.sidebar-content {
  width: 100%;
  position: absolute;
  transition: all 0.3s ease;
}
.logo {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.logo-text {
  background: -webkit-linear-gradient(45deg, #9300ff, #99b0b0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  /* Don't Change without also changing .sidebar-content-container's height */
  height: 3.4rem;
  margin: 1rem 0;
}
.sidebar-buttons.visible {
  opacity: 1;
  visibility: visible;
}
.sidebar-buttons-delete {
  border: 2px solid #fd151b;
  color: #fd151b;
  background-color: white;

  padding: 0.6rem 2rem;
  font-size: 1rem;
  transition: all 0.3s;
}
.sidebar-buttons-delete:hover {
  background-color: #fd151b;
  color: white;
}
.sidebar-buttons-view {
  color: #9300ff;
  background-color: white;

  padding: 1rem 2rem;
  border: 2px solid #9300ff;
  font-size: 1rem;
  transition: all 0.3s;
}
.sidebar-buttons-view:hover {
  color: white;
  background-color: #9300ff;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  height: 4rem;
}

/* ---------------------------------------- */
/* All Jobs */
.all-jobs {
  display: flex;
  flex-direction: column;
}
.all-jobs.all-jobs--hidden {
  transform: translateX(-100%);
}
.job {
  display: grid;
  grid-template-columns: 4fr 10fr 3fr 1fr;
  align-items: center;
  margin: 1rem;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: white;
  border: 2px solid transparent;
  border-bottom: 2px solid rgba(128, 128, 128, 0.301);
  cursor: default;
}
.job:hover {
  border: 2px solid #9300ff;
}
.job.selected {
  border: 2px solid #9300ff;
}

.job:first-child {
  margin-top: 0rem;
}
.job-name {
  font-size: 1.4rem;
}
.job-id {
  font-size: 1rem;
  color: #9300ff;
}

.job-date {
  font-size: 1rem;
}
.job-chevron {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------- */
/* Job Summary */
.job-summary {
  /* width must equal sidebar-content-container */
  padding: 0 1rem;
  width: 40rem;

  transform: translateX(100%);
  position: absolute;
}

.job-summary.job-summary--active {
  transform: translateX(0%);
}
.job-summary--back-btn {
  position: absolute;
  top: 1.2rem;
  left: 2rem;
  font-size: 1.4rem;
}
.job-summary--info {
  margin: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
}

.job-summary--info label {
  display: block;
  width: 70%;
  border-bottom: 1px solid grey;
  margin-bottom: 0.4rem;
  margin-top: 1rem;
}
.job-summary--contact div {
  margin-top: 0.6rem;
}

.job-summary--details-container {
  grid-column: 1 / 3;
}
.job-summary--details-container label {
  width: 100%;
}
.job-summary--total {
  margin: 0 0.5rem 0.8rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.totals {
  display: flex;
  flex-direction: column;
}
.total,
.paid,
.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.total {
  border-bottom: 1px solid rgb(128, 128, 128);
}
.balance {
  border: 3px solid #9300ff;
  padding: 0;
  box-sizing: content-box;
}
.balance-text-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.balance-text {
  color: white;
  background-color: #9300ff;
  padding: 1rem 0.6rem;
}
.total-amount,
.paid-amount,
.balance-amount {
  padding-right: 0.6rem;
}
/* ---------------------------------------- */
/* Task */
.tasks {
  position: relative;
  overflow: hidden;
}

.task-label {
  display: grid;
  grid-template-columns: 5fr 1fr 1.2fr 1.4fr;

  border: 2px solid transparent;
}
.task:hover,
.task.selected {
  border: 2px solid #9300ff;
  cursor: default;
}
.task-rate,
.task-label-rate,
.task-amount,
.task-label-amount,
.task-qty,
.task-label-qty {
  text-align: right;
}
.task-label {
  border-bottom: 1px solid grey;
  margin: 2rem 0.5rem 2px 0.5rem;
}
.task {
  position: relative;
  height: 3.6rem;
  display: grid;
  grid-template-columns: 5fr 1fr 1.2fr 1.4fr;
  align-items: center;
  margin: 0.3rem;
  padding: 0.8rem 0.5rem;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid rgba(128, 128, 128, 0.102);
}
.job-summary-task-btns {
  padding: 0.6rem 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 5.2rem;
  left: 6rem;
  transform: translateX(40rem);
  transition: all 0.3s ease;
}
.job-summary-task-btns.job-summary-task-btns--visible {
  transform: translateX(0);
}
.job-summary-task-btns button {
  padding: 0.6rem 2rem;
  transition: all 0.3s ease;
  font-size: 1rem;
}
.delete-task-btn {
  color: #fd151b;
  background-color: white;
  border: 2px solid #fd151b;
}
.delete-task-btn:hover {
  color: white;
  background-color: #fd151b;
}
.edit-task-btn {
  color: #9300ff;
  border: 2px solid #9300ff;
}
.edit-task-btn:hover {
  color: white;
  background-color: #9300ff;
}
.add-task-btn {
  background-color: white;
  border: 2px solid #9300ff;
  color: #9300ff;
}
.add-task-btn:hover {
  color: white;
  background-color: #9300ff;
}

/* ---------------------------------------- */
/* New Task */

.new-task {
  align-items: center;
  height: 3.6rem;
  margin: 0.3rem 0.5rem;
  display: grid;
  grid-template-columns: 5.2fr 1.3fr 1.25fr 1.4fr;
  display: none;
  border: 2px solid transparent;
  border-bottom: 2px solid rgba(128, 128, 128, 0.102);
}
.new-task.adding-task {
  display: grid;
}
.new-task.editing-task {
  display: grid;
  position: absolute;
  border: none;
  margin: 0;
  top: 0;
}

.editing-task-btns {
  display: flex;
  gap: 0.4rem;
  margin-left: 1.2rem;
}
.editing-task-btns.editing-task {
  margin-right: 0.5rem;
}

.submit-new-task-btn,
.cancel-new-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.1rem;
  height: 2rem;
  width: 2rem;
  font-size: 1.6rem;
  background-color: #9300ff;
  color: white;
}

.submit-new-task-btn:hover {
  opacity: 0.7;
}

.cancel-new-task-btn {
  margin: 0;
  font-size: 1.4rem;
  color: #9300ff;
  background-color: white;
  border: 1px solid #9300ff;
}

.new-task-input--qty,
.new-task-input--rate {
  width: 90%;
  justify-self: flex-end;
  text-align: right;
}
.new-task-input--qty,
.new-task-input--rate,
.new-task-input--description {
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.082);
  border: 1px solid rgba(128, 128, 128, 0.253);

  transition: all 0.3s ease;
}
.new-task-input--description.editing-task {
  padding: 0.2rem 0.2rem;
  margin-left: 0.2rem;
}

/* ---------------------------------------- */
/* Job Form */
.job-form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  font-size: 1rem;
  transform: translateY(-100%);
  background-color: white;
}
.job-form.job-form--active {
  transform: translateY(0);
}
.job-form h3 {
  font-weight: 500;
  margin: 0.6rem 0;
}
.job-form--close-btn {
  position: absolute;
  top: 1.1rem;
  right: 1.4rem;
  font-size: 1.6rem;
}

.input--image::-webkit-file-upload-button {
  display: none;
}
.input--image::before {
  content: "Choose File";
  font-size: 1rem;
  background-color: #9300ff;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  color: white;
  margin-right: 0.6rem;
}
.job-form input,
.input--details {
  font-size: 1.1rem;

  outline: none;
  border: none;
  padding: 0.6rem 0.4rem;
  resize: none;
  border-radius: 4px;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.116);
}
.input--details-optional {
  color: rgba(128, 128, 128, 0.589);
}
.add-work {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  gap: 3rem;
}
.btn--create-job {
  width: 14rem;
  align-self: center;
  padding: 0.4rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.404);
  background-color: #9300ff;
  color: #eeeee0;
}

.btn--create-job:active {
  transform: translateY(2px);
}

/* ---------------------------------------- */
/* Map */
.btn--add-marker {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  background-color: #9300ff;
  border-radius: 50%;
  padding: 1.2rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.438);
  z-index: 1000;
}
.btn--add-marker {
  cursor: pointer;
}
#map {
  flex: 1;
}
.leaflet-interactive.adding-new-marker,
.leaflet-grab.adding-new-marker {
  cursor: url("/lib/images/purple-pin-cursor.png") 20 42, auto;
}
/* lol.. Nothing wrong here */
.greenIcon {
  background-color: #9300ff;
}
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: white;
  color: white;
  border-radius: 0;
  padding: 0;
}
.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.leaflet-popup .leaflet-popup-tip {
  padding-bottom: 0.6rem;
  background-color: white;
}

.job-image {
  width: 100%;
}
.popup-info {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  cursor: default;
}
.popup-name {
  color: grey;
  font-weight: 400;
  text-align: center;
  padding-bottom: 0.8rem;
}
.popup-total {
  color: #399e5a;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 0.4rem;
  right: 0.6rem;
  color: white;
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: rgb(202, 202, 202);
}
