/* 

#9300FF

*/
/* ---------------------------------------- */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  color: grey;
}
body {
  display: flex;
  height: 100vh;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
ul {
  list-style: none;
}
input {
  outline: none;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* ---------------------------------------- */
/* Sidebar */
.sidebar {
  width: 40rem;
  background-color: white;
}
.sidebar-content-container {
  /* subtract height of logo + footer */
  height: calc(100% - 10rem);

  width: 40rem;
  min-height: 10rem;
  position: relative;
  /* overflow-x: hidden; */
  overflow-y: scroll;
}
.sidebar-content-container::-webkit-scrollbar {
  width: 0;
}
.sidebar-title {
  font-weight: 500;
  margin: 1rem 0;
  text-align: center;
}
.sidebar-title--all-jobs {
  padding: 0 1rem;
}

.sidebar-content {
  width: 100%;
  position: absolute;
  transition: all 0.3s ease;
}
.logo {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.logo-text {
  font-family: "Comfortaa", cursive;
  background: -webkit-linear-gradient(45deg, #9300ff, #99b0b0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  height: 4rem;
  margin-top: auto;
}

/* ---------------------------------------- */
/* All Jobs */
.all-jobs {
  display: flex;
  flex-direction: column;
}
.all-jobs.all-jobs--hidden {
  transform: translateX(-100%);
}
.job {
  display: grid;
  grid-template-columns: 4fr 10fr 3fr 1fr;
  align-items: center;

  margin: 1rem;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
  border-left: 8px solid #9300ff;
  cursor: pointer;
}
.job.job--active {
  border-color: #21a179;
}
.job:first-child {
  margin-top: 0rem;
}
.job-name {
  font-size: 1.4rem;
}
.job-id {
  font-size: 1rem;
  color: #9300ff;
}

.job-date {
  font-size: 1rem;
}
.job-chevron {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------- */
/* Job Summary */
.job-summary {
  /* width must equal sidebar-content-container */
  padding: 0 1rem;
  width: 40rem;

  transform: translateX(100%);
  position: absolute;
}
.job-summary.job-summary--active {
  transform: translateX(0%);
}
.job-summary--back-btn {
  position: absolute;
  top: 1.2rem;
  left: 2rem;
  font-size: 1.4rem;
}
.job-summary--info {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.job-summary--info label {
  display: block;
  width: 70%;
  border-bottom: 1px solid grey;
  margin-bottom: 0.4rem;
  margin-top: 1rem;
}
.job-summary--contact div {
  margin-top: 0.6rem;
}
.job-summary--total {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.totals {
  display: flex;
  flex-direction: column;
}
.total,
.paid,
.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.total {
  border-bottom: 1px solid rgb(128, 128, 128);
}
.balance {
  border: 3px solid #9300ff;
  padding: 0;
  box-sizing: content-box;
}
.balance-text-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.balance-text {
  color: white;
  background-color: #9300ff;
  padding: 1rem 0.6rem;
}
.total-amount,
.paid-amount,
.balance-amount {
  padding-right: 0.6rem;
}
/* ---------------------------------------- */
/* Task */
.task-label,
.task {
  display: grid;
  grid-template-columns: 5fr 1fr 1.2fr 1.4fr;
}

.task-rate,
.task-label-rate,
.task-amount,
.task-label-amount,
.task-qty,
.task-label-qty {
  text-align: right;
}
.task-label {
  border-bottom: 1px solid grey;
  margin-top: 2rem;
}
.task {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}
.new-task {
  align-items: center;
  height: 3.6rem;
  border-bottom: 1px solid rgb(128, 128, 128);

  display: grid;
  grid-template-columns: 5.2fr 1.3fr 1.25fr 1.4fr;
}
.new-task:hover {
  cursor: pointer;
}
.new-task.adding-task {
  cursor: default;
}
.new-task-btn-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: absolute;
  right: 15.6rem;
  transition: all 0.3s ease;
}
.new-task-btn-container.adding-task {
  right: -7.8rem;
  gap: 2rem;
}
.new-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  color: white;
  background-color: #9300ff;
  font-size: 1.6rem;
  right: 20rem;
}
.new-task-btn-label {
  user-select: none;
  cursor: pointer;
}
.new-task-input--qty,
.new-task-input--rate {
  width: 90%;
  justify-self: flex-end;
  text-align: right;
}
.new-task-input--qty,
.new-task-input--rate,
.new-task-input--description {
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.082);
  border: 1px solid rgba(128, 128, 128, 0.253);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.new-task-input--qty.adding-task,
.new-task-input--rate.adding-task,
.new-task-input--description.adding-task {
  visibility: visible;
  opacity: 1;
}

/* ---------------------------------------- */
/* Job Form */
.job-form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  font-size: 1rem;
  transform: translateY(-100%);
  background-color: white;
}
.job-form.job-form--active {
  transform: translateY(0);
}
.job-form h3 {
  font-weight: 500;
  margin: 0.6rem 0;
}
.job-form--close-btn {
  position: absolute;
  top: 1.1rem;
  right: 1.4rem;
  font-size: 1.6rem;
}
.job-form input,
.input--details {
  font-size: 1.1rem;

  outline: none;
  border: none;
  padding: 0.4rem;
  resize: none;
  border-radius: 4px;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.116);
}
.input--details-optional {
  color: rgba(128, 128, 128, 0.589);
}
.add-work {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  gap: 3rem;
}
.btn--create-job {
  width: 14rem;
  align-self: center;
  padding: 0.4rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.404);
  background-color: #9300ff;
  color: #eeeee0;
}

.btn--create-job:active {
  transform: translateY(2px);
}

/* ---------------------------------------- */
/* Map */
.btn--add-marker {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  background-color: #9300ff;
  border-radius: 50%;
  padding: 1.2rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.438);
  z-index: 1000;
}
.btn--add-marker {
  cursor: pointer;
}
#map {
  flex: 1;
}
.leaflet-interactive.adding-new-marker,
.leaflet-grab.adding-new-marker {
  cursor: url("/lib/images/purple-pin-cursor.png") 20 42, auto;
}
/* lol.. Nothing wrong here */
.greenIcon {
  background-color: #9300ff;
}
